<li role="presentation" class="{{#if accMenuOverview}}active{{/if}}">
    <a href="/account/">
        <i class="glyphicon glyphicon-dashboard"></i>
        Overview
    </a>
</li>
<li role="presentation" class="{{#if accMenuBilling}}active{{/if}}">
    <a href="/account/billing">
        <i class="glyphicon glyphicon-credit-card"></i>
        Billing
    </a>
</li>
<li role="presentation" class="{{#if accMenuProfile}}active{{/if}}">
    <a href="/account/profile">
        <i class="glyphicon glyphicon-user"></i>
        Profile
    </a>
</li>
<li role="presentation" class="{{#if accMenuIdentities}}active{{/if}}">
    <a href="/account/identities">
        <i class="glyphicon glyphicon-tags"></i>
        Identities
    </a>
</li>
<li role="presentation" class="{{#if accMenuRestore}}active{{/if}}">
    <a href="/account/restore">
        <i class="glyphicon glyphicon-repeat"></i>
        Restore
    </a>
</li>
