<form method="get" action="/webmail/search" class="mail-search-form">
    <div class="input-group">
      <input type="text" class="form-control input" name="query" placeholder="Search by sender, subject, or phrase" value="{{query}}" required>
      <span class="input-group-btn">
        <button class="btn btn-default btn" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
    </div>
</form>
