<li role="presentation" class="{{#if secMenuOverview}}active{{/if}}">
    <a href="/account/security">
        <i class="glyphicon glyphicon-shield"></i>
        Overview
    </a>
</li>
{{#unless ssoEnabled}}
<li role="presentation" class="{{#if secMenu2fa}}active{{/if}}">
    <a href="/account/security/2fa">
        <i class="glyphicon glyphicon-phone"></i>
        Two-Factor
    </a>
</li>
<li role="presentation" class="{{#if secMenuPassword}}active{{/if}}">
    <a href="/account/security/password">
        <i class="glyphicon glyphicon-lock"></i>
        Password
    </a>
</li>
{{/unless}}
<li role="presentation" class="{{#if secMenuAsps}}active{{/if}}">
    <a href="/account/security/asps">
        <i class="glyphicon glyphicon-console"></i>
        App Passwords
    </a>
</li>
<li role="presentation" class="{{#if secMenuGpg}}active{{/if}}">
    <a href="/account/security/gpg">
        <i class="glyphicon glyphicon-envelope"></i>
        Encryption
    </a>
</li>
<li role="presentation" class="{{#if secMenuEvents}}active{{/if}}">
    <a href="/account/security/events">
        <i class="glyphicon glyphicon-list-alt"></i>
        Events
    </a>
</li>
